################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/astute/Files/LoaderImages/diamonds_07-08-2023-8V57.xlsx
