################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/astute/Files
/.vs
/obj/Debug
/astute/obj/Debug/net6.0/ref/astute.dll
/astute/obj/Debug/net6.0/refint/astute.dll
/astute/obj/Debug/net6.0/astute.assets.cache
/astute/obj/Debug/net6.0/astute.csproj.CoreCompileInputs.cache
/astute/obj/Debug/net6.0/astute.csproj.FileListAbsolute.txt
/astute/obj/Debug/net6.0/astute.csproj.GenerateResource.cache
/astute/obj/Debug/net6.0/astute.dll
/astute/obj/Debug/net6.0/astute.GeneratedMSBuildEditorConfig.editorconfig
/astute/obj/Debug/net6.0/astute.genruntimeconfig.cache
/astute/obj/Debug/net6.0/astute.pdb
/astute/obj/astute.csproj.nuget.dgspec.json
/astute/obj/project.assets.json
/astute/obj/project.nuget.cache
/astute/obj/Release/net6.0/PubTmp/Out/astute.dll
/astute/obj/Release/net6.0/PubTmp/Out/astute.pdb
/astute/obj/Release/net6.0/ref/astute.dll
/astute/obj/Release/net6.0/astute.assets.cache
/astute/obj/Release/net6.0/astute.csproj.CoreCompileInputs.cache
/astute/obj/Release/net6.0/astute.csproj.FileListAbsolute.txt
/astute/obj/Release/net6.0/astute.csproj.GenerateResource.cache
/astute/obj/Release/net6.0/astute.dll
/astute/obj/Release/net6.0/astute.GeneratedMSBuildEditorConfig.editorconfig
/astute/obj/Release/net6.0/astute.genruntimeconfig.cache
/astute/obj/Release/net6.0/astute.pdb
/astute/obj/Release/net6.0/PublishOutputs.9a9ff11d02.txt
/astute/bin/Debug/net6.0/astute.dll
/astute/bin/Debug/net6.0/astute.pdb
/astute/obj/Release/net6.0/refint/astute.dll
/astute/Properties/PublishProfiles/FolderProfile.pubxml.user
/astute/Properties/PublishProfiles/FolderProfile1.pubxml.user
/astute/bin/Release/net6.0/astute.dll
/astute/bin/Release/net6.0/astute.pdb
/astute/Properties/PublishProfiles/FolderProfile10.pubxml.user
/astute/.config
/astute/Properties/PublishProfiles/FolderProfile10.pubxml
/astute/Properties/PublishProfiles/FolderProfile26.pubxml.user
/astute/Properties/PublishProfiles/FolderProfile26.pubxml
/astute/bin/Debug/net6.0/appsettings.json
/astute/bin/Release/net6.0/appsettings.json
/astute/Properties/PublishProfiles/FolderProfile10.pubxml
/astute/Properties/PublishProfiles/FolderProfile3.pubxml.user
*.sql
/astute/obj/Release/net6.0/PubTmp/Out/appsettings.json
*.targets
/astute/astute.csproj.user
/astute/Properties/PublishProfiles/FolderProfile4.pubxml.user
/astute/Properties/PublishProfiles/FolderProfile5.pubxml.user
/astute/Properties/PublishProfiles/FolderProfile6.pubxml.user
/astute/obj/Debug/net6.0/astute.csproj.AssemblyReference.cache
/astute/bin/Debug/net6.0/astute.exe
/astute/obj/Debug/net6.0/apphost.exe
/astute/Properties/PublishProfiles/FolderProfile7.pubxml.user
